﻿html {
    font: 100%/1.5 Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(#c5c7cb, #f8f9fa);
    min-height: 100%;
    text-align: center;
}

* {
    font-family: Verdana, Sans-serif;
}

body {
    margin-top: 1px
}

h3 {
    font-family: Verdana, Sans-serif;
    margin-bottom: 1px;
}

h4 {
    margin-bottom: 1px;
}

.textArea {
    margin-top: 1px;
    height: 210px;
    width: 708px;
    resize: none;
}

.Button {
    font-size: .825em;
    text-decoration: none;
    font-weight: 800;
    padding: .35em 1em;
    background-color: #eaeef1;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.Button:hover, .Button.hover {
    background-color: #fff;
}

.Button:active, .Button.active {
    background-color: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.Selector {
    color: black;
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    border-radius: 3px;
    font-size: .825em;
    background-color: #d0d3d6;
    height: 30px;
    width: 100px;
}

.ShiftBox {
    color: black;
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    border-radius: 3px;
    font-size: .825em;
    background-color: #d0d3d6;
    height: 25px;
    width: 55px;
}

.ShiftOption {
    height: 25px;
    width: 25px;
}

.MainButtons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.Selectors {
    margin-top: 5px;
    margin-bottom: 5px;
}

.FileUploadArea {
    border-color: inherit;
    border-width: medium;
    align-content: center;
    height:45px;
    margin-top: 4px;
    margin-bottom:1px;
}

.ChooseFileToUpload {
    margin-top: 4px;
}

.ListItems {
    width: 100px;
    align-items: flex-start;
}

.SaveToFileBtn {
    border-color: inherit;
    border-width: medium;
    height:40px;
}


